<% if(prop.instance === 'Date') { %>
  <input class="form-control datepicker" placeholder="<%= name %>..." name="<%= name %>" value="<%= value ? value : ''%>" />
<% } else { %>
  <input class="form-control" placeholder="<%= name %>..." name="<%= name %>" value="<%= value %>" />
<% } %>
