<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3> Click on an item to administrate </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover">
                <thead>
                    <th>Name</th>
                </thead>
                <tboby>
                  <% for(var i=0; i < list.length; i++){ %>
                    <tr>
                        <td>
                            <a href="/admin/<%= list[i].name %>"><%= list[i].name %></a>
                        </td>
                    </tr>
                  <% } %>
                </tboby>
            </table>
        </div>
    </div>
</div>