<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1><%= title %></h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <a href="/admin" class="btn btn-primary">Back</a>
        </div>
        <div class="col-md-2">
            <a href="<%= '/admin/' + modelName + '/new' %>" class="btn btn-success">New <%= modelName %></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <th><b style="max-width: 100px;">id</b></th>
                    <% for(var prop in editableProps) { %>
                        <th><b style="max-width: 100px;"><%= editableProps[prop] %></b></th>
                    <% } %>
                    <% for(var i=0; i < rels.length; i++) { %>
                        <th><b style="max-width: 100px;"><%= rels[i] %></b></th>
                    <% } %>
                    <th>Delete</th>
                </thead>
                <tbody>
                    <% for(var i=0; i < items.length; i++){ %>
                        <tr style="cursor:hand; cursor:pointer;" class="<%= modelName %>" onclick="window.document.location='/admin/<%= modelName %>/<%= items[i]._id %>';">
                            <td>
                                <div style="overflow:hidden;">
                                    <p><%= items[i]._id %></p>
                                </div>
                            </td>
                            <% for(var prop in editableProps) { %>
                                <td>
                                    <div style="overflow:hidden;">
                                        <p><%= items[i][editableProps[prop]] ? items[i][editableProps[prop]] : '-' %></p>
                                    </div>
                                </td>
                            <% } %>
                            <% for(var j=0; j < rels.length; j++) { %>
                                <td>
                                    <div style="overflow:hidden;">
                                        <p><%= items[i][rels[j]] ? items[i][rels[j]].name : '-' %></p>
                                    </div>
                                </td>
                            <% } %>
                            <td>
                                <a href="/admin/<%= modelName +'/' + items[i]._id %>/delete" onclick="return confirm('Are you sure you want to delete this item?')">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>
                            </td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>