<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Create new <%= title%></h1>
    </div>
  </div>

  <form action="/admin/<%= modelName %>" method="post">
    <div class="row">
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
          <th><b>Key</b></th>
          <th><b>Value</b></th>
          </thead>
          <tbody>

          <% for(var prop in editableProps) { %>
            <tr>
              <td>
                <div>
                  <p><b><%= editableProps[prop] %></b></p>
                </div>
              </td>
              <td>
                <div class="form-group">
                  <%- include('partials/form_input', {prop: modelProps[editableProps[prop]], name: editableProps[prop], value:''}); %>
                </div>
              </td>
            </tr>
          <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-11">
        <a href="/admin/<%= modelName %>" class="btn btn-danger">Cancel</a>
      </div>
      <div class="col-md-1">
        <input type="submit" value="save" class="btn btn-success"/>
      </div>
    </div>
  </form>
</div>

<script>
  $(document).ready(function(){
  	$('.datepicker').datepicker();
  });
</script>